{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="content container-fluid">


            <div class="content-page">

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="table-responsive">
                            <table class="table custom-table datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th>Employee</th>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th class="text-right"></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>

                                         <td>
                                            <h2><a href="#">{{ timetable.emp }}</a></h2>
                                        </td>
                                        <td>{{ timetable.day }}</td>
                                        <td>{{ timetable.start_time }}</td>
                                        <td>{{ timetable.end_time }}</td>


                                    <td class="text-right">
                                        <form method="post">
                                            {% csrf_token %}

                                            <div class="modal-body">

                                                <div class="m-t-20">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>


                                        </form>

                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}


